body {
  font-family: "Open Sans", sans-serif;
}
.float-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.display-7 {
  font-size: 2rem;
}
.pills {
  padding: 3px 10px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 200;
  background-color: blueviolet;
  color: white;
  border-radius: 20px;
  text-align: center;
}
.link {
  text-decoration: none;
}
p {
  font-size: 0.9rem;
}
.small {
  font-size: 1.2rem;
  margin: 0px 3px;
  cursor: pointer;
}
