body {
  font-family: "Open Sans", sans-serif;
}
.rounded {
  border-radius: 15px !important;
}

/* body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* body {
  -ms-overflow-style: none;
  scrollbar-width: none; } */
select::-ms-expand {
  display: block;
}
.float-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.display-7 {
  font-size: 2rem;
}
.pills {
  padding: 3px 10px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 200;
  background-color: #0d6efd;
  color: white;
  border-radius: 20px;
  text-align: center;
}
.link {
  text-decoration: none;
}
p {
  font-size: 0.9rem;
}
.small {
  font-size: 1.2rem;
  margin: 0px 3px;
  cursor: pointer;
}
